* {
  box-sizing: border-box;
}

.navbar {
  background-color: #ccc;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
}

.navbar ul li a {
  color: #00008B;
  text-transform: uppercase;
}

.navbar .navbar-brand {
  text-transform: uppercase;
  color: #696969;
  font-weight: bold;
}

.navbar-toggle .icon-bar {
  background-color: black;
}

.btn.btn-primary {
  background-color: #4682B4;
  border-color: #4682B4;
}
